@page
@model soru2.Pages.Index1Model

<h2>Karenin Alan ve Çevre Hesabı</h2>

<form method="post">
    <label>Kenar Uzunluğu:</label>
    <input asp-for="Kenar" />
    <br /><br />

    <button type="submit">Hesapla</button>
</form>

@if (Model.Hesaplandi)
{
    <h3>Sonuçlar</h3>
    <p>Alan: @Model.Alan</p>
    <p>Çevre: @Model.Cevre</p>
}

