body{
    background-color: lightyellow;
    text-decoration: none;
}

/* Mesaj kutusu */
.mesajKutusu{
    float: both;
    margin-top: 10px;
    background-color: lightsteelblue;
    width: 250px;
    height: 60px;
    border-radius: 15px;
}

/* Hover efekti */
.mesajKutusu:hover{
    background-color: coral;
    cursor: hand;
}

/* Profil resmi */
.mesajKutusu img{
    width: 50px;
    height: 50px;
    border-radius: 35px;
    float: left;
    margin: 5px;
}

/* Ad-soyad */
span#adSoyad{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 20px;
    color: black;
}

/* Tarih */
span#tarih{
    padding-top: 5px;
    font-size: 10px;
    color: dimgray;
}

/* z-index örneği */
#resim1{
    z-index: 1;
}
