body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: 0.3s;
}

.kutu {
    width: 400px;
    padding: 20px;
    border: 2px solid black;
    margin: 50px auto;
    background-color: #eee;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Koyu Mod */
.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .kutu {
    background-color: #333;
    border-color: white;
}
