.kutuSablonu{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: lightskyblue;
    border: 2px solid black;
    text-align: center;
    line-height: 50px;
    margin-right: 5px;
}


.goreceliKutu{
    position: relative;
    left: 30px;
    top: 30px;
}
